<div id="<%= dom_id factoryfarmberry %>">
  <p>
    <strong>Kg:</strong>
    <%= factoryfarmberry.kg %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= factoryfarmberry.season %>
  </p>

  <p>
    <strong>Coffeberries:</strong>
    <%= factoryfarmberry.coffeberries_id %>
  </p>

  <p>
    <strong>Factoryfarms:</strong>
    <%= factoryfarmberry.factoryfarms_id %>
  </p>

</div>
