<p style="color: green"><%= notice %></p>

<%= render @factoryfarmberry %>

<div>
  <%= link_to "Edit this factoryfarmberry", edit_factoryfarmberry_path(@factoryfarmberry) %> |
  <%= link_to "Back to factoryfarmberries", factoryfarmberries_path %>

  <%= button_to "Destroy this factoryfarmberry", @factoryfarmberry, method: :delete %>
</div>
