<div class="testContainer">
<%# <div class="mainNav">
    <%= render "navigation"%>
<%# </div>  %>
<div class="sideMenu">
  <div id="menu-container" >
     <% if @active_menu %>
      <%= render partial: 'sidenav' %>
    <% end %>
  </div>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <div class="dashDisplay content-container <%= @active_menu ? 'menu-open' : 'menu-closed' %>">
              <div>
                <div class="mainNav fixed-top md-static navbar-expand w-100 mt-0 position-relative">
                  <%= render "navigation"%>
                </div>
                <div class="displayAll">
                  <div class="tab-content py-0 px-3 px-sm-0 screen " id="nav-tabContent">
                    <div class="tab-pane fade show active menuDisplay " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    
                     <div class="menuDisplayLeft">
                       <%= render "statistics" %>
                     </div>
                     <div class="menuDisplayRight">
                     <div class="displayRight"> <%= render "graphstats"%> </div>
                     <div class="displayLeft"> <%= render "analytics" %> </div>
                     </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                       et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                      Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </div>
                  </div>
                
                </div>
              </div>
        </div>
      </div>
</div>

<script>
  $(document).ready(function() {
    let activeMenu = <%= @active_menu.to_json %>;
    

    $(window).on('resize', function() {
      if ($(window).width() < 900) {
        activeMenu = false;
        renderMenu(activeMenu);
      }
    });
    $('#menu-toggle').click(function() {
      activeMenu = !activeMenu;
      renderMenu(activeMenu);
     
    });

   $('#menu-container').on('click', '#cancel', function() {
      activeMenu = false;
      renderMenu(activeMenu);
    });

    function renderMenu(active) {
      if (active) {
        $('#menu-container').html('<%= j render(partial: "sidenav") %>');
      } else {
       
        $('#menu-container').empty();
        
      } 
    }

  });
</script>
<style>
  .content-container {
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .menu-open {
    margin-left: 0px;
  }

  .menu-closed {
    margin-left: 0;
    width: fit-content;
  }
</style>
</div>