
<p>Welcome to mirobe coffee factory</p>

<%# raw allowsthe partial views to be rendered as HTML %>
<div class="about-section">
  <%= render partial: 'about' %>
</div>

<div class="location-section">
  <%= render partial: 'location'  %>
</div>

<div class="contact-section">
  <%= render partial: 'contact'  %>
</div>


<% if user_signed_in? %>
  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "Get Started", user_session_path %>
<% end %>

