<div id="<%= dom_id worker %>">
  <p>
    <strong>Factory:</strong>
    <%= worker.factory_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= worker.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= worker.role %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= worker.salary %>
  </p>

</div>
