<div id="<%= dom_id farmerberry %>">
  <p>
    <strong>Season:</strong>
    <%= farmerberry.season %>
  </p>

  <p>
    <strong>Kg:</strong>
    <%= farmerberry.kg %>
  </p>

  <p>
    <strong>Farmers:</strong>
    <%= farmerberry.farmers_id %>
  </p>

  <p>
    <strong>Coffeberries:</strong>
    <%= farmerberry.coffeberries_id %>
  </p>

</div>
